body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  color: #666;
}
h1 {
  margin: 0 0 20px;
  font-weight: 400;
  color: #1c87c9;
}
p {
  margin: 0 0 5px;
}
.main-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #1c87c9;
}
.scrollable-menu {
  z-index: 100;
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

left-part {
  padding: 25px;
  margin: 25px;
  box-shadow: 0 2px 5px #f5f5f5;
  background: #f5f5f5;
}
form {
  padding: 25px;
  margin: 25px;
  box-shadow: 0 2px 5px #f5f5f5;
  background: #f5f5f5;
}
.fas {
  margin: 25px 10px 0;
  font-size: 72px;
  color: #fff;
}
.fa-envelope {
  transform: rotate(-20deg);
}
.fa-at,
.fa-mail-bulk {
  transform: rotate(10deg);
}
input,
textarea {
  width: calc(100% - 18px);
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #1c87c9;
  outline: none;
}
input::placeholder {
  color: #666;
}
button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #1c87c9;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
button:hover {
  background: #2371a0;
}
@media (min-width: 568px) {
  .main-block {
    flex-direction: row;
  }
  .left-part,
  form {
    width: 50%;
  }
  .fa-envelope {
    margin-top: 0;
    margin-left: 20%;
  }
  .fa-at {
    margin-top: -10%;
    margin-left: 65%;
  }
  .fa-mail-bulk {
    margin-top: 2%;
    margin-left: 28%;
  }
}

/* different */

@import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);

/* body {
    background-color: #D32F2F;
    font-family: 'Calibri', sans-serif !important
} */

.mt-100 {
  margin-top: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0px solid transparent;
  border-radius: 0px;
}

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card .card-title {
  position: relative;
  font-weight: 600;
  margin-bottom: 10px;
}

ul.list-style-none li {
  list-style: none;
}

ul.list-style-none li a {
  color: #673ab7;
  padding: 8px 0px;
  display: block;
  text-decoration: none;
}

.m-t-5 {
  margin-top: 5px;
}

.w-30px {
  width: 30px;
}


/* modal */
