@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/*---------- GENERAL ----------*/

body {
    font-family: "Poppins", sans-serif;
    /* font-family: 'Staatliches', cursive; */
    font-size: 10px;
    color: #222;
    background-color:#869296;
    background-image: linear-gradient(315deg, #829196 0%, #c1cdd6 74%);
    text-align: center;
    line-height: 1em;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#headers {
    width: 30%;
    height: 100%;
}
#main {
    width: 70%;
    height: 100%;
}

h1 {
    letter-spacing: 4px;
    font-size: 2em;
    color: whitesmoke;
}

h2 {
    font-size: 1em;
}

h3 {
    font-size: 0.75em;
}

/*---------- PHONEBOOK ----------*/
#phonebook-data {
    border-style: solid;
    border-color: #222;
    border-radius: 0.75em;
    border-width: 0.2em;
    margin-top: 1em;
    background-color: rgba(245, 245, 245, 0.452);
	box-shadow: 0.25em 0.25em rgba(0, 128, 128, 0.3);
    width: 70%;
    margin-left: 20%;
    margin-right: 10%;
}
#phonebook-data > h2 {
    font-size: 1.5em;
    height: 1em;
    color: teal;
}
#seaech-contact {
    font-family: 'Staatliches', cursive;
    font-size: 1em;
    width: 90%;
    height: 20%;
    text-align: left;
    padding: 5px;
    border-radius: 5em;
    margin-top: 0.25em;
}
.phone-member-div {
    border-style: solid;
    border-color: #222;
    border-radius: 0.75em;
    border-width: 0.2em;
    margin: 1em;
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    background-color: rgba(0, 128, 128, 0.3);
    font-size: 0.75em;
}
.id {
    display: none;
}
.button-container {
    display: flex;
    justify-content: space-between;    
}
.delte-btn {
    font-size: 20px;
    background-color: red;
    color: whitesmoke;
    border-radius: 0.75em;
    cursor: pointer;
    margin-left: 0.2em;

}
.delte-btn:hover {
    background-color: whitesmoke;
    color: red;
}

.call-btn {
    font-size: 20px;
    align-self: right;
    background-color: rgb(28, 163, 132);
    color: whitesmoke;
    border-radius: 0.75em;
    cursor: pointer;

}
.call-btn:hover {
    background-color: whitesmoke;
    color: rgb(25, 141, 60);
}


/*---------- ADD NEW CONTENT MEMBER ----------*/
.add-content {
    background-color: rgba(65, 105, 225, 0.452);
    border-radius: 0.75em;
    padding: 0.25em;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0.5em;
    width: 95%;
}
#inputs-div {
    display: flex;
    flex-direction: column;
    width: 90%;
}
.add-input{
    font-family: 'Staatliches', cursive;
    font-size: 0.5em;
    width: 100%;
    height: 10%;
    margin-bottom: 5%;
    text-align: center;
    padding: 5px;
    border-radius: 5em;
    margin-top: 0.25em;
}
#formats {
    font-size: 0.5em;
    color: rgb(88, 88, 88);
}
#buttons-div{
    display: flex;
    flex-direction: row;
    margin-top: 0.2em;
    justify-content: space-around;
}
#close-btn {
    padding: 0.2em;
    background-color:#de463b;
    color: whitesmoke;
    border-radius: 0.75em;
    cursor: pointer;
    font-size: 0.75em;
    width:auto;
}
#close-btn:hover {
    background-color: whitesmoke;
    color: #de463b;
}
#add-btn {
    padding: 0.35em;
    background-color:royalblue;
    color: whitesmoke;
    border-radius: 0.75em;
    cursor: pointer;
    font-size: 0.75em;
    width:auto;
}
#add-btn:hover {
    background-color: whitesmoke;
    color: royalblue;
}
#show-add {
    padding: 0.5em;
    background-color:royalblue;
    color: whitesmoke;
    border-radius: 0.75em;
    cursor: pointer;
    font-size: 0.75em;
}

/*---------- ERROR MESSEGE ----------*/
.error-messege {
    color:antiquewhite;
    font-size: 1em;
    margin: 1em;
    line-height: 1.2em;
    background-color:#de463b;
  }

  /*---------- SWAL MESSEGE ----------*/
  .swal-overlay {
    background-color: rgba(28, 163, 132, 0.45);
  }
  .swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #b34949;
    font-size: 12px;
    border: 1px solid #3e549a;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  }